@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Edit</h2>

<h4>Edit this Tag: @Html.DisplayFor(model => model.Word)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.Word)
    @Html.EditorFor(model => model.Word)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Tags", "Index")</p>