@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new Recipe</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>

    @Html.LabelFor(model => model.Minutes)
    @Html.TextBoxFor(model => model.Minutes)
     <br>

    @Html.LabelFor(model => model.Instructions)
    @Html.TextBoxFor(model => model.Instructions)
     <br>

    @Html.LabelFor(model => model.Ingredients)
    @Html.TextBoxFor(model => model.Ingredients)
     <br>

    @Html.LabelFor(model => model.Rating)
    @Html.TextBoxFor(model => model.Rating, new { @type = "number", @class = "span5", @min = "0" })
     <br>

    @Html.Label("Add Tags")
    @Html.DropDownList("TagId")
     <br>

    <input type="submit" value="Add new Recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Recipes", "Index")</p>

<input type="submit" class="btn btn-default" value="Log out" />