@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)
    @* @Html.HiddenFor(model => model.RecipeTagId) *@

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.Label("Add Tags")
    @Html.DropDownList("TagId")

    @Html.LabelFor(model => model.Minutes)
    @Html.EditorFor(model => model.Minutes)

    @Html.LabelFor(model => model.Instructions)
    @Html.EditorFor(model => model.Instructions)

    @Html.LabelFor(model => model.Ingredients)
    @Html.EditorFor(model => model.Ingredients)
    
    @Html.Label("Made It!")
    @Html.CheckBoxFor(model => model.MadeIt)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating, new { @type = "number", @class = "span5", @min = "1", @max="5" })

    <input type="submit" value="Save" />
}



<p>@Html.ActionLink("Back to list", "Index")</p>