@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h2>RecipeBox for @User.Identity.Name</h2>

<form action="/sort" method = "get">
  @Html.RadioButton("sortParam", "Rating")
  <label for="sortParam">Sort by Rating</label>
  @Html.RadioButton("sortParam", "Minutes")
  <label for="sortParam">Sort by Prep Time</label>
  <button type="submit">Sort My RecipeBox</button>
</form>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <h5>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</h5>
      <ul>
        <li>Rating: @Html.DisplayFor(modelRecipe => recipe.Rating)</li>
        <li>Prep Time: @Html.DisplayFor(modelRecipe => recipe.Minutes) minutes</li>
      </ul>
    }
  </ul>
} 
else
{
  <h3>Your RecipeBox is empty!</h3>
}

<p>@Html.ActionLink("Add new Recipe", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>

<input type="submit" class="btn btn-default" value="Log out" />