@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h2>RecipeBox for @User.Identity.Name</h2>

<h4>Search Your RecipeBox: </h4>

@using (Html.BeginForm())
{
    <p>
        Enter a Tag: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}


@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <p>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</p>
    }
  </ul>
} 
else
{
  <h3>Your RecipeBox is empty!</h3>
}

<p>@Html.ActionLink("Add new Recipe", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>

<input type="submit" class="btn btn-default" value="Log out" />